En este archivo puedes escribir lo que estimes conveniente. Te recomendamos detallar tu solución y todas las suposiciones que estás considerando. Aquí puedes ejecutar las funciones que definiste en los otros archivos de la carpeta src, medir el tiempo, memoria, etc.

In [1]:
# Space to import all libs necessaries
import json
import cProfile
import q1_time
import pandas as pd

from collections import defaultdict
from datetime import datetime

# Custom functions
import functions

# download file from google drive

In [9]:
# URL of the ZIP file hosted on Google Drive
url = 'https://drive.usercontent.google.com/download?id=1ig2ngoXFTxP5Pa8muXo02mDTFexZzsis&export=download&authuser=0&confirm=t&uuid=fd997cbf-ccdd-4e37-a53d-2b46ed1de3ae&at=APZUnTW5jfpb41xGjhafvdL1BkT8%3A1710960678452'
functions.gdrive_download(url, 'files')

c:\Users\brromaodo\Anaconda3\lib\site-packages\urllib3\connectionpool.py:1045: InsecureRequestWarning: Unverified HTTPS request is being made to host 'drive.usercontent.google.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/1.26.x/advanced-usage.html#ssl-warnings
  warnings.warn(

Arquivo ZIP extraído com sucesso!

In [2]:
file_name = "farmers-protest-tweets-2021-2-4.json"
file_path = f"files/{file_name}"

In [16]:

date_tweet_count = defaultdict(int)
pd_data = []

count = 0
with open(file_path, 'r') as json_file:
    for line in json_file:
        # Parse JSON object from each line
        tweet = json.loads(line)
        # Extract date and username from the tweet
        date = datetime.strptime(tweet['date'], "%Y-%m-%dT%H:%M:%S%z").date()
        username = tweet['user']['username']
        
        # Increment tweet count for the date
        date_tweet_count[date] += 1
        pd_data.append((date, username))

df = pd.DataFrame(pd_data, columns=['date', 'username'])

In [48]:
df_por_data = df.groupby("date").size().reset_index(name='date_count').sort_values(by='date_count', ascending=False)[:10]
df_por_usuario = df.groupby(['date', 'username']).size().reset_index(name='user_count').sort_values(by=['date', 'user_count'], ascending=False)

# Primeiro, agrupe por data e usuário, contando quantas vezes cada usuário apareceu em cada data
#df_contagem = df.groupby(['data', 'username']).size().reset_index(name='contagem')

#df_por_data.head()
#df_por_usuario['rank'] = df_por_usuario['user_count'].rank(method='dense', ascending=False)
df_por_usuario.head()
## Em seguida, encontre o índice do usuário com a maior contagem em cada data
#indice_max_contagem = df_contagem.groupby('data')['contagem'].idxmax()
#
## Use o índice para selecionar o usuário com a maior contagem em cada data
#usuarios_max_contagem = df_contagem.loc[indice_max_contagem, ['data', 'username', 'contagem']]
#
## Ordene os dados pela contagem em ordem decrescente
#usuarios_max_contagem = usuarios_max_contagem.sort_values(by='contagem', ascending=False)

             date        username  user_count  rank
51458  2021-02-24  preetysaini321         107  22.0
50144  2021-02-24     AhluwaliaA2          74  45.0
50479  2021-02-24         JBBal75          64  54.0
51077  2021-02-24     ajityadavdu          61  57.0
51505  2021-02-24        rumsomal          61  57.0

In [58]:
def rank_by_date(group: pd.DataFrame, col: str):
    group['rank'] = group[col].rank(method='dense', ascending=False)
    return group

# Aplicar a função de classificação particionada por data
df = df_por_usuario.groupby('date').apply(rank_by_date)

In [64]:
df[df['user_rank'] == 1.0]

             date         username  user_count  rank  user_rank
51458  2021-02-24   preetysaini321         107  22.0        1.0
48696  2021-02-23       Surrypuria         135   9.0        1.0
46533  2021-02-22   preetysaini321         110  19.0        1.0
42691  2021-02-21       Surrypuria         161   6.0        1.0
38382  2021-02-20  MangalJ23056160         108  21.0        1.0
35219  2021-02-19         Preetm91         267   1.0        1.0
33193  2021-02-18  neetuanjle_nitu         195   2.0        1.0
26577  2021-02-17   RaaJVinderkaur         185   3.0        1.0
23260  2021-02-16           jot__b         133  11.0        1.0
18540  2021-02-15           jot__b         134  10.0        1.0
15136  2021-02-14    rebelpacifist         119  14.0        1.0
7536   2021-02-13  MaanDee08215437         178   4.0        1.0
2740   2021-02-12  RanbirS00614606         176   5.0        1.0

In [70]:
df_grouped_date = df.groupby(['data', 'username']).size().reset_index(name='count')[['data', 'username', 'count']]

#df_grouped.sort_values(by='count', ascending=False).head()

                  data    username  count
21929         Preetm91  2021-02-19    267
44085  neetuanjle_nitu  2021-02-18    195
22650   RaaJVinderkaur  2021-02-17    185
16761  MaanDee08215437  2021-02-13    178
23626  RanbirS00614606  2021-02-12    176

In [23]:
cProfile.run('q1_time.q1_time(file_path)')

         4561035 function calls in 8.910 seconds

   Ordered by: standard name

   ncalls  tottime  percall  cumtime  percall filename:lineno(function)
        1    0.000    0.000    8.910    8.910 <string>:1(<module>)
   117407    0.146    0.000    3.545    0.000 __init__.py:299(loads)
        1    0.000    0.000    0.000    0.000 _bootlocale.py:11(getpreferredencoding)
   117407    0.066    0.000    0.589    0.000 _strptime.py:26(_getlang)
   117407    1.492    0.000    2.566    0.000 _strptime.py:309(_strptime)
   117407    0.335    0.000    2.901    0.000 _strptime.py:565(_strptime_datetime)
        1    0.000    0.000    0.000    0.000 codecs.py:260(__init__)
        1    0.000    0.000    0.000    0.000 codecs.py:309(__init__)
    49772    0.051    0.000    0.124    0.000 codecs.py:319(decode)
   117407    0.223    0.000    3.355    0.000 decoder.py:332(decode)
   117407    2.964    0.000    2.964    0.000 decoder.py:343(raw_decode)
   117407    0.123    0.000    0.167    0.000 locale.py:386(normalize)
   117407    0.062    0.000    0.229    0.000 locale.py:469(_parse_localename)
   117407    0.089    0.000    0.524    0.000 locale.py:577(getlocale)
       13    0.000    0.000    0.000    0.000 q1_time.py:28(<lambda>)
        1    0.000    0.000    0.000    0.000 q1_time.py:29(<listcomp>)
        1    1.422    1.422    8.910    8.910 q1_time.py:6(q1_time)
    49772    0.074    0.000    0.074    0.000 {built-in method _codecs.utf_8_decode}
   117407    0.206    0.000    0.206    0.000 {built-in method _locale.setlocale}
        1    0.000    0.000    8.910    8.910 {built-in method builtins.exec}
   352221    0.035    0.000    0.035    0.000 {built-in method builtins.isinstance}
   587035    0.061    0.000    0.061    0.000 {built-in method builtins.len}
        1    0.000    0.000    0.000    0.000 {built-in method builtins.sorted}
        1    0.798    0.798    0.798    0.798 {built-in method io.open}
   117407    0.103    0.000    3.004    0.000 {built-in method strptime}
        1    0.000    0.000    0.000    0.000 {method '__exit__' of '_io._IOBase' objects}
   117407    0.023    0.000    0.023    0.000 {method '__exit__' of '_thread.lock' objects}
   117407    0.018    0.000    0.018    0.000 {method 'date' of 'datetime.datetime' objects}
        1    0.000    0.000    0.000    0.000 {method 'disable' of '_lsprof.Profiler' objects}
   352221    0.046    0.000    0.046    0.000 {method 'end' of 're.Match' objects}
   352221    0.059    0.000    0.059    0.000 {method 'get' of 'dict' objects}
   117407    0.102    0.000    0.102    0.000 {method 'groupdict' of 're.Match' objects}
        1    0.000    0.000    0.000    0.000 {method 'items' of 'dict' objects}
   117407    0.020    0.000    0.020    0.000 {method 'keys' of 'dict' objects}
   117407    0.019    0.000    0.019    0.000 {method 'lower' of 'str' objects}
   352221    0.260    0.000    0.260    0.000 {method 'match' of 're.Pattern' objects}
   234814    0.073    0.000    0.073    0.000 {method 'startswith' of 'str' objects}
   234814    0.028    0.000    0.028    0.000 {method 'toordinal' of 'datetime.date' objects}
   117407    0.015    0.000    0.015    0.000 {method 'weekday' of 'datetime.date' objects}

In [3]:
q1_time.q1_time(file_path)

NameError: name 'timedelta' is not defined

In [69]:
df[df['user_rank'] == 1.0]

             date         username  user_count  rank  user_rank
51458  2021-02-24   preetysaini321         107  22.0        1.0
48696  2021-02-23       Surrypuria         135   9.0        1.0
46533  2021-02-22   preetysaini321         110  19.0        1.0
42691  2021-02-21       Surrypuria         161   6.0        1.0
38382  2021-02-20  MangalJ23056160         108  21.0        1.0
35219  2021-02-19         Preetm91         267   1.0        1.0
33193  2021-02-18  neetuanjle_nitu         195   2.0        1.0
26577  2021-02-17   RaaJVinderkaur         185   3.0        1.0
23260  2021-02-16           jot__b         133  11.0        1.0
18540  2021-02-15           jot__b         134  10.0        1.0
15136  2021-02-14    rebelpacifist         119  14.0        1.0
7536   2021-02-13  MaanDee08215437         178   4.0        1.0
2740   2021-02-12  RanbirS00614606         176   5.0        1.0